<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>portNonSSL</param-name>
        <param-value>8080</param-value>
    </context-param>
    <context-param>
        <param-name>portSSL</param-name>
        <param-value>8181</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>customer</display-name>
        <web-resource-collection>
            <web-resource-name>Customers</web-resource-name>
            <description/>
            <url-pattern>/customer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Customer</description>
            <role-name>Customers</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>BankTeller</display-name>
        <web-resource-collection>
            <web-resource-name>BankTellers</web-resource-name>
            <description/>
            <url-pattern>/bankTeller/*</url-pattern>
            <url-pattern>/customer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>BankTeller</description>
            <role-name>Customers</role-name>
            <role-name>BankTellers</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/all/main.jsp</form-login-page>
            <form-error-page>/all/main.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Customers</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>BankTellers</role-name>
    </security-role>
    <ejb-ref>
        <ejb-ref-name>BussinesBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>contract.BusinessInterface</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>BankDataBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>contract.BankDataInterface</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>BusinessDataBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>contract.BankDataInterface</remote>
    </ejb-ref>
</web-app>
